@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        background-color: theme('colors.black');
        border-radius: theme('borderRadius.sm');
        padding: theme('spacing.10');
        box-shadow: theme('boxShadow.xl');
    }
    /* ... */
}
